<tr>
    <td class="refLabel" data-label="Ref"><div class="value"></div></td>
    <td class="productLabel" data-label="Produit"><div class="value"></div></td>
    <td class="priceLabel" data-label="Prix à l'unité"><span class="value"></span></td>
    <td class="qtyLabel" data-label="Quantité">
        <span class="iconPointer minusProduct">
            <svg class="feather"><use xlink:href="assets/svg/feather-sprite.svg#minus"/></svg>
        </span>
        <span class="value"></span>
        <span class="iconPointer plusProduct">
            <svg class="feather"><use xlink:href="assets/svg/feather-sprite.svg#plus"/></svg>
        </span>
    </td>
    <td class="totalLabel" data-label="Total">
        <span class="value"></span>
        <span class="iconPointer">
            <svg class="feather removeCart"><use xlink:href="assets/svg/feather-sprite.svg#trash-2"/></svg>
        </span>
    </td>
</tr>