<div class="cart">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Reference</th>
            <th>Produit</th>
            <th>Prix à l'unité</th>
            <th>Quantité</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
        <tr>
            <th class="txt-right">Total Panier : <span class="value"></span> €</th>
        </tr>
    </table>
    <div class="modal-footer mt-2 pt-2">
        <a class="purchaseButton" href="#commander"><button class="small primary btn">Passer commande</button></a>
    </div>
</div>
