<header class="navbar pt-2 pb-2 mt-2 mb-2">
    <section class="navbar-section">
        <a href="#" class="navbar-brand mr-2">JORD</a>
        <a href="#" class="btn btn-link mr-2">Home</a>
        <a href="#nos-produits" class="btn btn-link mr-2">Products</a>
    </section>
    <section class="navbar-section">
        <button class="btn btn-action btn-link c-hand mr-2 badge" data-badge="0" data-modalTarget="cart" aria-label="Panier vide" id="buttonCart"><svg class="feather" data-modalTarget="cart"><use xlink:href="/src/svg/feather-sprite.svg#shopping-cart"/></svg></button>
        <div class="modal top right" data-modal="cart" id="cartModal"><div class="modal-container"></div></div>
        <button class="btn btn-action btn-link c-hand mr-2 buttonModal" data-modalTarget="userMenu" id="userBtnMenu"><svg class="feather" data-modalTarget="userMenu"><use xlink:href="/src/svg/feather-sprite.svg#user"/></svg></button>
        <div class="modal modal-sm top right" data-modal="userMenu" id="loginRegister"><div class="modal-container"></div></div>
    </section>
</header>
