.b-0 {
  border-width: 0;
}
.b-1 {
  border-width: .5rem;
}
.b-2 {
  border-width: 1rem;
}
.b-3 {
  border-width: 1.5rem;
}
.b-4 {
  border-width: 2rem;
}
.b-5 {
  border-width: 2.5rem;
}
.bt-0 {
  border-top-width: 0;
}
.bt-1 {
  border-top-width: .5rem;
}
.bt-2 {
  border-top-width: 1rem;
}
.bt-3 {
  border-top-width: 1.5rem;
}
.bt-4 {
  border-top-width: 2rem;
}
.bt-5 {
  border-top-width: 2.5rem;
}
.br-0 {
  border-right-width: 0;
}
.br-1 {
  border-right-width: .5rem;
}
.br-2 {
  border-right-width: 1rem;
}
.br-3 {
  border-right-width: 1.5rem;
}
.br-4 {
  border-right-width: 2rem;
}
.br-5 {
  border-right-width: 2.5rem;
}
.bb-0 {
  border-bottom-width: 0;
}
.bb-1 {
  border-bottom-width: .5rem;
}
.bb-2 {
  border-bottom-width: 1rem;
}
.bb-3 {
  border-bottom-width: 1.5rem;
}
.bb-4 {
  border-bottom-width: 2rem;
}
.bb-5 {
  border-bottom-width: 2.5rem;
}
.bl-0 {
  border-left-width: 0;
}
.bl-1 {
  border-left-width: .5rem;
}
.bl-2 {
  border-left-width: 1rem;
}
.bl-3 {
  border-left-width: 1.5rem;
}
.bl-4 {
  border-left-width: 2rem;
}
.bl-5 {
  border-left-width: 2.5rem;
}
.b-radius-0 {
  border-radius: 0;
}
.b-radius-1 {
  border-radius: .5rem;
}
.b-radius-2 {
  border-radius: 1rem;
}
.b-radius-3 {
  border-radius: 1.5rem;
}
.b-radius-4 {
  border-radius: 2rem;
}
.b-radius-5 {
  border-radius: 2.5rem;
}
.b-primary {
  border-color: $primary;
}
.b-secondary {
  border-color: $secondary;
}
.b-success {
  border-color: $success;
}
.b-danger {
  border-color: $danger;
}
.b-warning {
  border-color: $warning;
}
.b-white {
  border-color: $white;
}
.b-light-grey {
  border-color: $lightGrey;
}
.b-dark-grey {
  border-color: $darkGrey;
}
.b-dark {
  border-color: $dark;
}

