.m-0 {
  margin:0;
}

.m-1 {
  margin:.5rem;
}

.m-2 {
  margin:1rem;
}

.m-3 {
  margin:1.5rem;
}

.m-4 {
  margin:2rem;
}

.m-5 {
  margin:2.5rem;
}

.ml-0 {
  margin-left:0;
}

.ml-1 {
  margin-left:.5rem;
}

.ml-2 {
  margin-left:1rem;
}

.ml-3 {
  margin-left:1.5rem;
}

.ml-4 {
  margin-left:2rem;
}

.ml-5 {
  margin-left:2.5rem;
}

.mr-0 {
  margin-right:0;
}

.mr-1 {
  margin-right:.5rem;
}

.mr-2 {
  margin-right:1rem;
}

.mr-3 {
  margin-right:1.5rem;
}

.mr-4 {
  margin-right:2rem;
}

.mr-5 {
  margin-right:2.5rem;
}

.mt-0 {
  margin-top:0;
}

.mt-1 {
  margin-top:.5rem;
}

.mt-2 {
  margin-top:1rem;
}

.mt-3 {
  margin-top:1.5rem;
}

.mt-4 {
  margin-top:2rem;
}

.mt-5 {
  margin-top:2.5rem;
}

.mb-0 {
  margin-bottom:0;
}

.mb-1 {
  margin-bottom:.5rem;
}

.mb-2 {
  margin-bottom:1rem;
}

.mb-3 {
  margin-bottom:1.5rem;
}

.mb-4 {
  margin-bottom:2rem;
}

.mb-5 {
  margin-bottom:2.5rem;
}

