#<IfModule mod_rewrite.c>
#    RewriteEngine on
##    # Si la page demandée n'est pas un fichier
##    RewriteCond % !-f
##    # Si elle n'est pas non plus un répertoire
##    RewriteCond % !-d 
##    RewriteRule ^/(.*)$ / [L]
#
#
##    RewriteBase /
##	RewriteCond %{REQUEST_FILENAME} !-f
##	RewriteCond %{REQUEST_URI} !(.*)/$
##	RewriteRule ^(.*)$ http://jord.test/#$1 [L,R=301]
#</IfModule>