.modal {
  position:absolute;
  z-index: 9999;
  transition: max-height .3s ease-in-out;
  max-height: 600px;
  &.modal-right {
    right:0;
  }
  > div {
    margin: var(--universal-margin);
    padding: calc(2 * var(--universal-padding)) var(--universal-padding);
  }
}

.buttonModal {
  > span, > div {
    pointer-events: none;
  }
}