#pushNotification {

  .notif {
    display:flex;
    position: fixed;
    top: calc(var(--universal-margin) * 5);
    right: 0;
    transform: translate(-10%, 50%);
    z-index: 1111;
    color: var(--toast-fore-color);
    background: var(--secondary-back-color);
    border:1px solid var(--header-border-color);
    border-radius: 5px;
    padding: var(--universal-padding) calc(var(--universal-padding) * 3);
    max-width: 360px;
    top:0;

    .msg {
      display:inline-block;
      transition:all .5s ease-in-out;
      max-width: 300px;
    }
    .close {
      padding:0 0 0 1rem;
      font-size:1.15em;
      line-height: 1.25;
      font-weight: 700;
      cursor: pointer;
    }
  }
  .success {
    color: #4CC355;
    border:1px solid #4CC355;
  }
  .error {
    color: #D11D05;
    border:1px solid #D11D05;
  }
  .info {
    color: #5AD;
    border:1px solid #5AD;
  }
  .hide {
    opacity:0;
    transition: all .5s ease-in-out;
    pointer-events: none;
    .msg {
      color:var(--secondary-back-color);
      transition:all .5s ease-in-out;
    }
  }
  .show {
    opacity:1;
    transition: all .5s ease-in-out;
  }
}

