<tr>
    <td class="refLabel" data-label="Ref"><span class="value"></span></td>
    <td class="productLabel" data-label="Produit"><span class="value"></span></td>
    <td class="priceLabel" data-label="Prix à l'unité"><span class="value"></span></td>
    <td class="qtyLabel" data-label="Quantité">
        <a href="">
            <svg class="feather">
                <use xlink:href="/src/svg/feather-sprite.svg#plus"/>
            </svg>
        </a>
        <span class="value"></span>
        <a href=""><svg class="feather">
            <use xlink:href="/src/svg/feather-sprite.svg#minus"/>
        </svg>
        </a>
    </td>
    <td class="totalLabel" data-label="Total">
        <span class="value"></span>
        <svg class="feather removeCart">
            <use xlink:href="/src/svg/feather-sprite.svg#trash-2"/>
        </svg>
    </td>
</tr>