<form action="" id="loginRegisterForm">
    <legend>S'identifier</legend>
    <div class="col-sm-3">
        <div>
            <input type="email" name="email" id="email" placeholder="Email"/>
        </div>
        <div>
            <input type="password" name="password" id="password" placeholder="Mot de passe"/>
        </div>
        <div>
            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirmer le mot de passe" hidden/>
        </div>

        <input class="important-field" type="text" id="monprenom" name="monprenom" placeholder="Mon prénom" autocomplete="off"/>
        <input class="important-field" type="text" id="monadresse" name="monadresse" placeholder="Mon adresse" autocomplete="off" value="ceci est mon adresse" required/>

        <input type="submit" id="buttonSend" class="loginSubmit" value="Connexion" />
        <a href="" id="switchForm">Pas encore enregistré</a>
    </div>
</form>