<header>
    <div class="row">
        <div class="col-sm-10">
            <a href="#" class="logo">Logo</a>
            <a href="#" class="button">Accueil</a>
            <a href="#about-me" class="button">À propos</a>
            <a href="#produit-1" class="button">Produit 1</a>
        </div>
        <div class="col-sm-2 txt-right">
            <div class="button bottom" aria-label="Panier vide" id="buttonCart"><span class="icon-cart"></span><span id="cartProductNumber">0</span></div>
            <div class="modal modal-right" data-modal="cart" id="cartModal" hidden></div>


            <div class="button buttonModal" data-modalTarget="userMenu" id="userBtnMenu"><span class="icon-user"></span></div>
            <div class="modal modal-right" data-modal="userMenu" id="loginRegister" hidden></div>

        </div>
    </div>
</header>