<header>
    <div class="row">
        <div class="col-sm-10">
            <a href="#" class="logo">Logo</a>
            <a href="#" class="button">Accueil</a>
            <a href="#about-me" class="button">À propos</a>
            <a href="#produit-1" class="button">Produit 1</a>
        </div>
        <div class="col-sm-2 txt-right">
            <div class="button"><span class="icon-cart"></span></span></div>
            <div class="button"><span class="icon-user"></span></div>

            <div class="modal modal-right" data-modal="userMenu" id="loginRegister" >
                <form action="" id="loginRegisterForm">
                    <legend>S'identifier</legend>
                    <div class="col-sm-3">
                        <div>
                            <input type="text" name="username" id="username" placeholder="Identifiant"/>
                        </div>
                        <div>
                            <input type="password" name="password" id="password" placeholder="Mot de passe"/>
                        </div>
                        <div>
                            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirmer le mot de passe" hidden/>
                        </div>
                        <div>
                            <input type="email" name="email" id="email" placeholder="Email" hidden/>
                        </div>

                        <input class="important-field" type="text" id="monprenom" name="monprenom" placeholder="Mon prénom" autocomplete="off"/>
                        <input class="important-field" type="text" id="monadresse" name="monadresse" placeholder="Mon adresse" autocomplete="off" value="ceci est mon adresse" required/>

                        <input type="submit" id="buttonSend" class="loginSubmit" value="Connexion" />
                        <a href="" id="switchForm">Pas encore enregistré</a>
                    </div>
                </form>

        </div>
    </div>
</header>