<h1>Mon compte</h1>
<div id="accountUserPage">
    <div class="card fluid">
        <div class="section">
            <h3>Mes informations <svg class="feather editProfil"><use xlink:href="/src/svg/feather-sprite.svg#edit"/></svg></h3>
        </div>
        <div class="section">
            <div class="row">
                <div class="col-sm-2">Email :</div>
                <div class="col-sm-10"><span id="emailField"></span></div>
            </div>
            <div class="row">
                <div class="col-sm-2">Prénom :</div>
                <div class="col-sm-10"><span class="labelSpan" id="firstnameField"></span> <input class="w-100" type="text" name="firstnameField" value="" hidden></div>
            </div>
            <div class="row">
                <div class="col-sm-2">Nom :</div>
                <div class="col-sm-10"><span class="labelSpan" id="lastnameField"></span> <input class="w-100" type="text" name="lastnameField" value="" hidden></div>
            </div>
            <div class="txt-right buttonSection" hidden><span class="cancelSave">Annuler</span> <button class="saveProfil"><svg class="feather"><use xlink:href="/src/svg/feather-sprite.svg#save"/></svg> Enregistrer</button></div>
        </div>
    </div>
    <div class="card fluid">
        <div class="section">
            <h3>Adresse de facturation <svg class="feather editProfil"><use xlink:href="/src/svg/feather-sprite.svg#edit"/></svg></h3>
        </div>
        <div class="section">
            <div class="row">
                <div class="col-sm-2">Adresse :</div>
                <div class="col-sm-10"><span class="labelSpan" id="addressField"></span> <input class="w-100" type="text" name="addressField" value="" hidden></div>
            </div>
            <div class="row">
                <div class="col-sm-2">Code Postale :</div>
                <div class="col-sm-10"><span class="labelSpan" id="postalcodeField"></span> <input class="w-100" type="text" name="postalcodeField" value="" hidden></div>
            </div>
            <div class="row">
                <div class="col-sm-2">Ville :</div>
                <div class="col-sm-10"><span class="labelSpan" id="townField"></span> <input class="w-100" type="text" name="townField" value="" hidden></div>
            </div>
            <div class="txt-right buttonSection" hidden><span class="cancelSave">Annuler</span> <button class="saveProfil"><svg class="feather"><use xlink:href="/src/svg/feather-sprite.svg#save"/></svg> Enregistrer</button></div>
        </div>
    </div>

    <div class="card fluid">
        <div class="section">
            <h3>Adresse de livraison <svg class="feather editProfil"><use xlink:href="/src/svg/feather-sprite.svg#edit"/></svg></h3>
        </div>
        <div class="section">
            <div class="row">
                <div class="col-sm-2">Adresse:</div>
                <div class="col-sm-10"><span class="labelSpan" id="addressShippingField"></span> <input class="w-100" type="text" name="addressShippingField" value="" hidden></div>
            </div>
            <div class="row">
                <div class="col-sm-2">Code Postale:</div>
                <div class="col-sm-10"><span class="labelSpan" id="postalcodeShippingField"></span> <input class="w-100" type="text" name="postalcodeShippingField" value="" hidden></div>
            </div>
            <div class="row">
                <div class="col-sm-2">Ville:</div>
                <div class="col-sm-10"><span class="labelSpan" id="townShippingField"></span> <input class="w-100" type="text" name="townShippingField" value="" hidden></div>
            </div>
            <div hidden><span class="cancelSave">Annuler</span> <button class="saveProfil"><svg class="feather "><use xlink:href="/src/svg/feather-sprite.svg#save"/></svg> Enregistrer</button></div>            <div class="txt-right buttonSection" hidden><span class="cancelSave">Annuler</span> <button class="saveProfil"><svg class="feather"><use xlink:href="/src/svg/feather-sprite.svg#save"/></svg> Enregistrer</button></div>
        </div>
    </div>

    <div class="card fluid">
        <div class="section">
            <h3>Modifier mon mot de passe <svg class="feather editProfil"><use xlink:href="/src/svg/feather-sprite.svg#edit"/></svg></h3>
        </div>
        <div class="section">
            <div class="col-sm-10"><input name="oldPassword" id="oldPassword" type="password" placeholder="Mon mot de passe actuel" hidden></div>
            <div class="col-sm-10"><input name="newPassword" id="newPassword" type="password" placeholder="Mon nouveau mot de passe" hidden></div>
            <div class="col-sm-10"><input name="confirmPassword" id="confirmPassword" type="password" placeholder="Confirmation du mot de passe" hidden></div>
            <div class="txt-right buttonSection" hidden><span class="cancelSave">Annuler</span> <button class="editPassword"><svg class="feather saveProfil"><use xlink:href="/src/svg/feather-sprite.svg#save"/></svg> Enregistrer</button></div>
        </div>
    </div>
</div>
